.dpt-pessoal-wrapper {
    width: 100%;
    @extend %items-center;

    .dpt-pessoal-picture img {
        display: block;
        width: 100%;

        @include mq(768px) {
            width: 60%;
            margin: auto;
        }
    }

    .dpt-pessoal-card {
        text-align: center;
        background: $fc-secondary;
        color: white;
        font-size: 16px;
        transition: transform 300ms ease;
        @include cardShadow();

        &:hover {
            transform: scale(1.1);
        }

        .card-icon,
        span {
            display: block;
            width: 100%;
        }
    }
}