@mixin container($width: 90%, $max-width: 1200px) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
}

@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin cardShadow {
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.4);
}

@mixin mq($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}