@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Poppins|Raleway&display=swap');

$ff-secondary: 'Raleway',
sans-serif;
$ff-main: 'Poppins',
sans-serif;
$ff-signture: 'Dancing Script',
cursive;